.suggest-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-image: url('/lab 1/assets/img/suggest.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.suggest-container {
    width: 90%;
    max-width:  min(100%, 800px);;
    margin: 50px auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.suggest-container-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #434343;
    font-family: 'Changa One', sans-serif;
    letter-spacing: 1.5px;
    white-space: nowrap;
}

.suggest-container-text {
    font-size: 1rem;
    color: #576074;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}

.suggest-destination-tb, .suggest-name-tb, .suggest-country-tb, .suggest-category-tb, .suggest-describe-tb{
    display: block;
    width: 95%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #00000099;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.suggest-submit-btn {
    padding: 15px 30px;
    width: 40%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    background-color: #8A53FF;
    color: white;
}

.suggest-submit-btn:hover {
    background-color: #6a3cc7;
    transform: translateY(-2px);
}